
<div class="pageContent">
	<form method="post" action="/Index/seller/add" class="pageForm required-validate" onsubmit="return validateCallback(this, navTabAjaxDone);">
		<div class="pageFormContent" layoutH="56">

			<p>
				<label>供应商名(name(ch))：</label>
				<input name="name" class="required" type="text" size="30" value="" alt=""/>
			</p>
			<p>
				<label>英文名(name(En))：</label>
				<input name="name_en" type="text" size="30" value="" alt=""/>
			</p>			
			<p>
				<label>电话(tel)：</label>
				<input name="tel"  type="text" size="30" value="" alt=""/>	
			</p>
			<p>
				<label>邮箱(email)：</label>
				<input name="email" type="text" size="30" value="" alt=""/>
			</p>
			<p>
				<label>地址(address)：</label>
				<input name="address" type="text" size="30" value="" alt=""/>
			</p>
			<p>
				<label>供应商类型：</label>
				<select name="type" class="required combox">
					
					<option value="0">中国</option>
					<option value="1">本地</option>

				</select>
			</p>			
		</div>
		<div class="formBar">
			<ul>
				<!--<li><a class="buttonActive" href="javascript:;"><span>保存</span></a></li>-->
				<li><div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div></li>
				<li>
					<div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
				</li>
			</ul>
		</div>
	</form>
</div>
